[Unit]
Description=Update rpm-ostree system image 
ConditionACPower=true
ConditionPathExists=/run/ostree-booted

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
